/* See logic for resizing the panels in system js for explanation*/
#VF_Main_TABLE
{
   height:auto;  
}
/* ============ Standard LANSA Styles =========== */

.hidden__
{
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	width: 0px;
	height: 0px;
	display: none;
}

/* Default BODY details */ 

   BODY
   {
      border: none 0; 
      background: #f4f3ee;
      margin:     0;
   }  

   TH
   {
      font: caption;
     /*  background: graytext;  */
   }

   TD
   {
      padding: 0px;
      background: #f4f3ee;
   } 

   TD,SELECT,INPUT,TEXTAREA
   {
		font:menu;
   }

   TEXTAREA  
   {
      overflow: auto;
   }

   STRONG
   {
      font-weight: normal;
      white-space:nowrap;
   }

   BUTTON
   {
      /* width:     90px; */
      white-space:nowrap;
		font-size: 10pt; 
   }

   .VF_SY506_Dft_Button
   {
   	background:		#fcfcfe;
      border-right:	1px solid #6982ee; 
      border-top:    1px solid #6982ee; 
      border-bottom:	1px solid #003c74; 
      border-left:   1px solid #003c74; 
     	filter:	      progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f8f8f6, EndColorStr=#e6e3dd, GradientType=0);
   }

   .VF_SY506_Button_MouseOver
   {
      border-right:	1px solid #fdd889; 
      border-top:    1px solid #fdd889; 
      border-bottom:	1px solid #e59700; 
      border-left:   1px solid #e59700; 
     	filter:	      progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f8f8f6, EndColorStr=#e6e3dd, GradientType=0);
   }

	.FP_RTIME_HHMMSS
	{
	   background:  window;
      padding: 0px 0px;
      margin: 0px 0px;
      border: solid 1px;
      width:20px;
	}

	.FP_RTIME_Container_ReadOnly
	{
      cursor: default;
	}

	.FP_RTIME_AMPM
	{
		border: 	1px solid #ece9d8;
		font-family: Courier;
		background: #ece9d8;
      padding: 0;
      width:auto;
	}

	.FP_RTIME_UpImage
	{
		border-bottom: 1px solid #eeeeee;
		margin-left: 2px;
	}

	.FP_RTIME_DownImage
	{
		border-top: 1px solid #eeeeee;
		margin-left: 2px;
	}

/* ============ F P _ R C A L C classes =========== */

   .FP_RCALC_ReadOnly
   {
		border: none;
      cursor: default;
		background: #ece9d8;
   }
   
	.FP_RCALC_CalculatorImg
   {
		border: 1px solid #ece9d8;
		width: 17px;
		height: 18px;
		margin-left: 2px;
   }

	.FP_RCALC_CalculatorImgEnter
   {
		border-top: 1px solid threedhighlight;
		border-left: 1px solid threedhighlight;
		border-bottom: 1px solid threeddarkshadow;
		border-right: 1px solid threeddarkshadow;
		width: 17px;
		height: 18px;
		margin-left: 2px;
   }
   
	.FP_RCALC_CalculatorImgDown
   {
		border-top: 1px solid threeddarkshadow;
		border-left: 1px solid threeddarkshadow;
		border-bottom: 1px solid threedhighlight;
		border-right: 1px solid threedhighlight;
		width: 17px;
		height: 18px;
		margin-left: 2px;
   }

/* ============ F P _ R C O M B classes =========== */

   .FP_RCOMB_DisabledEntry
   {
      color: #999;
   }


/* ============ F P _ R D A T E classes =========== */

   .FP_RDATE_ReadOnly
   {
		border: none;
      cursor: default;
		background: #ece9d8;
   }

	.FP_RDATE_CalendarImg
   {
		border: 1px solid #ece9d8;
		width: 17px;
		height: 18px;
		margin-left: 2px;
   }

	.FP_RDATE_CalendarImgEnter
   {
		border-top: 1px solid threedhighlight;
		border-left: 1px solid threedhighlight;
		border-bottom: 1px solid threeddarkshadow;
		border-right: 1px solid threeddarkshadow;
		width: 17px;
		height: 18px;
		margin-left: 2px;
   }

/* ============ F P _ R L I S T classes =========== */
   .FP_RLIST_ResizeColCover
   {
      height:100%; 
      width:100%;
      z-index:99;
      display:none;
      position:absolute;
      top:0px;
      left:0px;
      opacity: 0.5;
   }

   .FP_RLIST_OuterContainer
   {
      overflow:    hidden;  
		border: solid 1px Highlight;
      cursor:        default;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
   }

   .FP_RLIST_ListContainer
   {
      background  :window;
      overflow-y  :auto; 
      overflow-x  :hidden; 
      height      :100%;
   }

   .FP_RLIST_Colhdg
   {
      border-top:    1px solid Highlight; 
      overflow:      hidden;
      display:       inline-block;
      cursor:        default;
      text-overflow: ellipsis;
      white-space: nowrap;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
   }

   .FP_RLIST_ColDivider
   {
      border-left:   1px solid Highlight;
      display:       inline-block;
      cursor:        col-resize;
   }

   .FP_RLIST_ColDivider_NoLines
   {
      border-top:    1px solid window;
      border-bottom: 1px solid window;
      border-left:   1px solid window;
      width:         1px; 
      display:       inline;
   }

   .FP_RLIST_InputCell
   {
      -moz-user-select: text;
      -webkit-user-select: text;
      background : azure;
      color      : #000;
      cursor     : text;
      border     : 1px solid #808080;
   }

   .FP_RLIST_Cell
   {
      display:       inline-block; 
      overflow:      hidden;
      text-overflow: ellipsis;
      font-family: Arial;
      font-size: 8pt;
   }

   .FP_RLIST_TreeContainer
   {
      background  :window;
      border: 1px solid Highlight;
      width:  190px;
      height: 290px;
      overflow:auto;
      padding: 3px;
      cursor: default;
   }

   .FP_RLIST_LargeImageContainer
   {
      overflow-x : hidden;
      white-space: nowrap;
      text-overflow : ellipsis;
      display      : inline;
      margin-left : 3px;
      -moz-user-select: none;
      -webkit-user-select: none;
   }

	/* ============ F P _ R M E M O classes =========== */

   .FP_RMEMO_Variable_Font
   {
     	font-family:      Verdana, Arial, Helvetica;
   	font-size:        8pt;
   }

   .FP_RMEMO_Fixed_Font
   {
     	font-family:      Lucida Console;
   	font-size:        8pt;
   }

   /* ============ F P _ R F O R M classes =========== */

   .FP_RFORM_Title
   {
      text-align : center;
      font-family: Verdana, Arial, Helvetica;
      font-size:   8pt;
   }

   .FP_RFORM_Instruction
   {
      text-align : left;
      font-family: Verdana, Arial, Helvetica;
      font-weight: bold;
      font-size:   8pt;
    }

   .FP_RFORM_Note
   {
      text-align : left;
      color : brown; 
      font-family: Verdana, Arial, Helvetica;
      font-size:   8pt;
   }

  
   .FP_RFORM_Divider
   {
      text-align : left;
      color : white;  
      background-color : background;
      font-family: Verdana, Arial, Helvetica;
      font-size:   10pt;
   }	

	/* ============ WAM classes =========== */

   input.number
   {
      text-align: right;
   }
   input.text
   {
      text-align: left;
   }
   input.ltext
   {
      text-align: left;
      text-transform: lowercase
   }
   input.utext
   {
      text-align: left;
      text-transform: uppercase
   }

   th.text
   {
      text-align: left;
   }
   th.number
   {
      text-align: right;
   }
   td.text
   {
      text-align: left;
   }
   td.number
   {
      text-align: right;
   }
   .hidden
   {
	display: none;
   }

/****************************************************** */
/*	XHTML Standard Weblet Styles                     */
/* These styles need to be kept in sync with the styles */
/* for weblets in std_style.css                         */   
/****************************************************** */

img.disabled
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

